<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @if (HttpContext.Current.Request["debug"] == "1")
    {
        <link type="text/css" rel="stylesheet" href="~/Scripts/Plugins/EasyUi/themes/icon.css" />
        <link type="text/css" rel="stylesheet" href="~/Scripts/Plugins/EasyUi/themes/metro/easyui.css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript" src="~/Scripts/Plugins/EasyUi/locale/easyui-lang-zh_CN.js"></script>
        <script type="text/javascript" src="~/Scripts/Plugins/EasyUi/jquery.easyui.min.js"></script>
        @Scripts.Render("~/bundles/helper")
    }
</head>
    <body>
        @RenderSection("style", false)
        <div style="display: none">
            @RenderSection("hiddenArea", false)
        </div>
        @RenderBody()
        @RenderSection("script", false)
    </body>
</html>
